<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<h2>Calculator</h2>
<form action="#" th:action="@{/calculate}" th:object="${calculator}" method="post">
    <input type="text" th:field="*{currentInput}" placeholder="Enter number"/>
    <button type="submit" name="operator" value="+" th:text="${'+'}">+</button>
    <button type="submit" name="operator" value="-" th:text="${'-'}">-</button>
    <button type="submit" name="operator" value="*" th:text="${'*'}">*</button>
    <button type="submit" name="operator" value="/" th:text="${'/'}">/</button>
    <br/>
    <input type="text" th:field="*{result}" th:readonly="readonly"/>
</form>
</body>
</html>

